__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.Python
env/
venv/
.env
.env.*
node_modules/
build/
dist/
.cache/
.pytest_cache/
.mypy_cache/
.idea/
.vscode/
coverage/
*.log
*.pid
*.seed
*.sql
*.db
*.egg-info/
*.egg
*.orig
*.rej
*.swp
*.swo
*.DS_Store
uploads/
data/
tmp/
/.docker-cache/
/.turbo/
apps/frontend/node_modules/
apps/frontend/dist/
apps/backend/.venv/
apps/backend/.mypy_cache/
